[Unit]
Description=Update TLS certificates periodically
After=network-online.target

[Timer]
OnCalendar=09:00
AccuracySec=4h
RandomizedDelaySec=1h
Unit=acme.service
Persistent=True

[Install]
WantedBy=timers.target
