[Unit]
Description=Teiserver Elixir Application
After=network.target
After=postgresql@17-main.service
# BindsTo means that when postgresql is stopped or restarted, so is teiserver.
# We make it a strong dependency like this because behavior of teiserver can
# get weird when postgresql gets restarted while teiserver is running.
BindsTo=postgresql@17-main.service

[Service]
User=teiserver
EnvironmentFile=/etc/teiserver/teiserver.env
ExecStart=/opt/teiserver/live/bin/teiserver start
Restart=on-failure
LimitNOFILE=65536
KillMode=mixed
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
