[Unit]
Description=Run update-kicker-keys.service periodically

[Timer]
OnBootSec=5min
OnUnitActiveSec=30m
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
