[Unit]
Description=Run update-kicker-keys.service periodically

[Timer]
OnBootSec=5min
OnUnitActiveSec=4h
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
