---
- name: Set up base system
  ansible.builtin.import_tasks: system.yml
  tags: system
- name: Set up firewall
  ansible.builtin.import_tasks: firewall.yml
  tags: firewall
- name: Set up http server
  ansible.builtin.import_tasks: http.yml
  tags: http
- name: Get proper TLS certificate
  ansible.builtin.import_tasks: tls.yml
  when: acquire_tls_certificate
  tags: tls
- name: Configure database
  ansible.builtin.import_tasks: database.yml
  become_user: postgres
  tags: database
- name: Configure backups
  ansible.builtin.import_tasks: backup.yml
  tags: backup
  when: backups_enabled | default(True)
- name: Configure teiserver
  ansible.builtin.import_tasks: teiserver.yml
  tags: teiserver
- name: Configure geoipupdates
  ansible.builtin.import_tasks: geoip.yml
  tags: geoip
- name: Configure Zabbix Agent
  ansible.builtin.import_tasks: zabbix.yml
  tags: zabbix
  when: configure_zabbix_agent
- name: Configure server kicker
  ansible.builtin.import_tasks: kicker.yml
  tags: kicker
- name: Configure monitoring
  ansible.builtin.import_tasks: monitoring.yml
  tags: monitoring
  when: configure_monitoring
