---
- name: Ensure /usr/local/lib/bash exists
  ansible.builtin.file:
    path: /usr/local/lib/bash
    state: directory
    mode: '0755'
- name: Install shflags for tei-* scripts
  ansible.builtin.get_url:
    url: 'https://raw.githubusercontent.com/kward/shflags/96694d58ce92065fdd8f8761d930765cb9a8d066/shflags'
    checksum: 'sha256:ce5f13d6e6c83a5ba0871ba56d52980a87c2a4d7f9d93831feaa12bc10ee2e0f'
    dest: '/usr/local/lib/bash/shflags'
    mode: '0644'
- name: Install tei-bash-lib
  ansible.builtin.copy:
    src: 'tei-bash-lib.sh'
    dest: '/usr/local/lib/bash/tei-bash-lib'
    mode: '0644'
- name: Install tei-* scripts
  ansible.builtin.copy:
    src: 'scripts/{{ item }}'
    dest: '/usr/local/bin/tei-{{ item }}'
    mode: '0755'
  loop:
    - rel-build
    - rel-delete
    - rel-deploy
    - rel-list
    - rel-prune-old
    - rel-tag
    - rel-untag
    - repo-pull
    - restart
- name: Ensure teiserver repo is cloned
  become_user: deploy
  ansible.builtin.git:
    repo: 'https://github.com/beyond-all-reason/teiserver.git'
    dest: /home/deploy/teiserver-repo
    update: false
- name: Add teiserver user
  ansible.builtin.user:
    name: teiserver
    shell: /sbin/nologin
    home: /var/lib/teiserver
    groups:
      - ssl-cert
    append: true
- name: Create teiserver installation directory
  ansible.builtin.file:
    path: /opt/teiserver
    mode: '0755'
    state: directory
- name: Create teiserver logs directory
  ansible.builtin.file:
    path: /var/log/teiserver
    owner: teiserver
    group: teiserver
    mode: '0755'
    state: directory
- name: Create teiserver config directory
  ansible.builtin.file:
    path: /etc/teiserver
    mode: '0755'
    state: directory
- name: Write teiserver environment file
  ansible.builtin.template:
    src: teiserver.env.j2
    dest: /etc/teiserver/teiserver.env
    mode: '0640'
    owner: root
    group: teiserver
- name: Install teiserver service
  ansible.builtin.copy:
    src: teiserver.service
    dest: /etc/systemd/system/teiserver.service
    mode: '0644'
- name: Enable teiserver service
  ansible.builtin.systemd:
    name: teiserver.service
    enabled: true
    daemon_reload: true
- name: Copy teiserver maintenance systemd units files
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: '/etc/systemd/system/{{ item }}'
  loop:
    - tei-warm-build.service
    - tei-warm-build.timer
    - tei-rel-prune-old.service
    - tei-rel-prune-old.timer
- name: Enable teiserver release pruner timer
  ansible.builtin.systemd:
    name: tei-rel-prune-old.timer
    state: started
    enabled: true
    daemon_reload: true
- name: Toggle teiserver release build warmer
  ansible.builtin.systemd:
    name: tei-warm-build.timer
    state: '{{ teiserver_build_warmer | default(True) | ternary("started", "stopped") }}'
    enabled: '{{ teiserver_build_warmer | default(True) }}'
