import Config

host = "{{ domain_name }}"

config :teiserver, Teiserver.Setup,
  key: "{{ teiserver_setup_key }}"

config :teiserver, TeiserverWeb.Endpoint,
  url: [host: "#{host}"],
  https: [
    keyfile: "/etc/ssl/private/teiserver.key",
    certfile: "/etc/ssl/certs/teiserver.crt",
    cacertfile: "/etc/ssl/certs/teiserver_full.crt",
    dhfile: '/etc/ssl/dhparam.pem',
  ],
{% if acquire_tls_certificate %}
  check_origin: ["//#{host}", "//*.#{host}"]
{% else %}
  # Don't check origin when signed with a self-signed certificate
  check_origin: false
{% endif %}

config :teiserver, Teiserver,
  game_name: "Beyond All Reason",
  game_name_short: "BAR",
  host: host,
  main_website: "https://beyondallreason.info/",
  privacy_email: "privacy@beyondallreason.info",
  discord: "https://discord.gg/beyond-all-reason",
  certs: [
    keyfile: "/etc/ssl/private/teiserver.key",
    certfile: "/etc/ssl/certs/teiserver.crt",
    cacertfile: "/etc/ssl/certs/teiserver_full.crt",
    dhfile: '/etc/ssl/dhparam.pem',
  ],
  website: [
    url: "beyondallreason.info"
  ],
  server_flag: "GB-WLS",
  node_name: "teiserver-{{ inventory_hostname }}",
  extra_logging: false,
  enable_discord_bridge: {% if teiserver_discord_integration %}true{% else %}false{% endif %},
  user_agreement:
    "A verification code has been sent to your email address. Please read our terms of service at https://#{host}/privacy_policy and the code of conduct at https://www.beyondallreason.info/code-of-conduct. Then enter your six digit code below if you agree to the terms."

config :teiserver, Teiserver.Repo,
  username: "{{ database_user }}",
  password: "{{ database_password }}",
  database: "{{ database_name }}"

config :teiserver, TeiserverWeb.Endpoint,
  http: [:inet6, port: String.to_integer(System.get_env("PORT") || "4000")],
  secret_key_base: "{{ teiserver_secret_key_base }}"

config :teiserver, Teiserver.Account.Guardian,
  issuer: "teiserver",
  secret_key: "{{ teiserver_guardian_secret }}"

{% if teiserver_discord_integration %}
config :nostrum,
  gateway_intents: [
    :guilds,
    :guild_messages,
    :guild_message_reactions,
    :direct_messages,
    :message_content,
    :direct_message_reactions
  ],
  log_full_events: true,
  log_dispatch_events: true,
  token: "{{ teiserver_discord_bot_token }}"

config :teiserver, DiscordBridgeBot,
  token: "{{ teiserver_discord_bot_token }}",
  guild_id: {{ teiserver_discord_server_id }},
  bot_name: "{{ teiserver_discord_bot_name }}"
{% endif %}

{% if teiserver_email_integration %}
config :teiserver, Teiserver.Mailer,
  adapter: Bamboo.SMTPAdapter,
  noreply_name: "Beyond All Reason",
  noreply_address: "noreply@beyondallreason.info",
  contact_address: "info@beyondallreason.info",
  server: "{{ teiserver_smtp_server }}",
  hostname: "{{ teiserver_smtp_hostname | default(teiserver_smtp_server) }}",
  port: "{{ teiserver_smtp_port }}",
  username: "{{ teiserver_smtp_username }}",
  password: "{{ teiserver_smtp_password }}",
  tls_verify: {% if teiserver_smtp_tls_verify|default(True) %}:verify_peer{% else %}:verify_none{% endif %},
  tls: :always,
  allowed_tls_versions: [:"tlsv1.2"],
  auth: :always
{% endif %}
