#!/bin/bash
set -euo pipefail

USERS=( {{ kicker_github_users | join(" ") }} )

TMPDIR=$(mktemp -d)
trap 'rm -rf -- "$TMPDIR"' EXIT

for user in "${USERS[@]}"; do
    if ! curl -fsSL "https://github.com/${user}.keys" > "$TMPDIR/${user}.keys"; then
        echo "Failed to fetch keys for ${user}" >&2
        exit 1
    fi

    if (( $(cat "$TMPDIR/${user}.keys" | wc -l) == 0 )); then
        echo "There are no keys configured for ${user}" >&2
        continue
    fi

    awk -v user="$user" '{print "restrict,command=\"KICKER_USER=" user " sudo /usr/local/bin/tei-restart\",pty " $0}' "$TMPDIR/${user}.keys" >> "$TMPDIR/authorized_keys_final"
done

install -o kicker -g kicker -m 0600 "$TMPDIR/authorized_keys_final" /home/kicker/.ssh/authorized_keys
